* {
  margin: 0;
  font: 20px sans-serif;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 90vh;
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/88e83db431e7575eaab695eb/cvcvc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-wrapper__title {
  margin-top: 30px;
  font-size: 4rem;
  color: white;
}
.flex-wrapper__subtitle {
  font-size: 1rem;
  color: white;
  font-weight: 700;
}
.flex-wrapper__container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.flex-wrapper__container-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  height: 350px;
  background-color: white;
  border: 2px solid lightblue;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.flex-wrapper__container-block-num {
  display: flex;
  align-items: center;
  background-color: lightblue;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
  height: 10px;
  color: white;
}
.flex-wrapper__container-block-title {
  font-weight: 600;
  color: rgb(83, 192, 228);
}
.flex-wrapper__container-block-content {
  font-size: 0.8rem;
  color: gray;
  line-height: 25px;
}
.flex-wrapper__container-block-btn {
  border: 2px solid rgb(83, 192, 228);
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: rgb(83, 192, 228);
  font-weight: 600;
  padding: 5px 25px;
  font-size: 0.7rem;
  cursor: pointer;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 83px;
}
.flex-footer__content {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
}
.flex-footer__content p {
  color: white;
  font-size: 0.8rem;
}
.flex-footer__content a {
  color: #adcce9;
  font-size: 0.8rem;
}
.flex-footer__content a:hover {
  color: #787878;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .flex-wrapper {
    height: 90%;
  }
  .flex-wrapper__container-block {
    gap: 10px;
    width: 225px;
  }
}
@media (max-width: 990px) {
  .flex-wrapper__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .flex-wrapper__container-block {
    width: 300px;
    height: 280px;
  }
}
@media (max-width: 776px) {
  .flex-wrapper__container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-left: 50px;
    margin-right: 50px;
  }
  .flex-wrapper__container-block {
    width: 500px;
    height: 250px;
  }
  .flex-wrapper__subtitle {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .flex-wrapper__container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-left: 50px;
    margin-right: 50px;
  }
  .flex-wrapper__container-block {
    width: 320px;
    height: 270px;
  }
  .flex-wrapper__title {
    font-size: 1.7rem;
  }
  .flex-wrapper__subtitle {
    max-width: 50%;
    font-size: 0.7rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */